{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load tshirt_tags %}

{% block content %}
    <br>
    <br>
    <div class="jumbotron container p-2 alert alert-danger text-center">
        <h1 class="display-5">Payment Failed</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet architecto aut autem ea
            earum et eveniet ex explicabo, facilis fugit illum labore, laboriosam magnam neque, praesentium quo. Autem,
            illo, natus! Aut cupiditate dolor earum facere itaque magni molestiae quia quod saepe ullam! Fugit minima
            nemo placeat sapiente tenetur?</p>
        <hr class="my-4">
        <p>Your payment failed!</p>
    </div>
{% endblock content %}